# Configuración del servidor
NODE_ENV=development
PORT=3000

# Configuración de base de datos MySQL
DB_HOST=sql100.infinityfree.com
DB_USER=if0_41710291
DB_PASSWORD=rosmerycarreon2
DB_NAME=if0_41710291_backend_api
DB_PORT=3306

# Configuración de JWT
JWT_SECRET=mi_clave_secreta_super_segura_2024
JWT_EXPIRATION=7d

# Configuración de la aplicación
APP_NAME=API REST Backend
APP_VERSION=1.0.0
